RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^usuarios(.*)$ index.php?pagina=usuarios [L]
RewriteRule ^grupo_acessos(.*)$ index.php?pagina=grupo_acessos [L]
RewriteRule ^acessos(.*)$ index.php?pagina=acessos [L]

RewriteRule ^anexos(.*)$ index.php?pagina=anexos [L]
RewriteRule ^tarefas(.*)$ index.php?pagina=tarefas [L]
RewriteRule ^caixas(.*)$ index.php?pagina=caixas [L]
RewriteRule ^financeiro_geral(.*)$ index.php?pagina=financeiro_geral [L]
RewriteRule ^receber(.*)$ index.php?pagina=receber [L]
RewriteRule ^pagar(.*)$ index.php?pagina=pagar [L]
RewriteRule ^dizimos(.*)$ index.php?pagina=dizimos [L]
RewriteRule ^ofertas(.*)$ index.php?pagina=ofertas [L]
RewriteRule ^missoes_recebidas(.*)$ index.php?pagina=missoes_recebidas [L]
RewriteRule ^missoes_enviadas(.*)$ index.php?pagina=missoes_enviadas [L]
RewriteRule ^igrejas(.*)$ index.php?pagina=igrejas [L]
RewriteRule ^alertas(.*)$ index.php?pagina=alertas [L]
RewriteRule ^eventos(.*)$ index.php?pagina=eventos [L]
RewriteRule ^versiculos(.*)$ index.php?pagina=versiculos [L]
RewriteRule ^pastores(.*)$ index.php?pagina=pastores [L]
RewriteRule ^tesoureiros(.*)$ index.php?pagina=tesoureiros [L]
RewriteRule ^cultos(.*)$ index.php?pagina=cultos [L]
RewriteRule ^membros(.*)$ index.php?pagina=membros [L]
RewriteRule ^visitantes(.*)$ index.php?pagina=visitantes [L]
RewriteRule ^aniversariantes(.*)$ index.php?pagina=aniversariantes [L]
RewriteRule ^fornecedores(.*)$ index.php?pagina=fornecedores [L]
RewriteRule ^patrimonios(.*)$ index.php?pagina=patrimonios [L]
RewriteRule ^categorias(.*)$ index.php?pagina=categorias [L]
RewriteRule ^itens(.*)$ index.php?pagina=itens [L]
RewriteRule ^locacao(.*)$ index.php?pagina=locacao [L]
RewriteRule ^secretarios(.*)$ index.php?pagina=secretarios [L]
RewriteRule ^documentos(.*)$ index.php?pagina=documentos [L]
RewriteRule ^celulas(.*)$ index.php?pagina=celulas [L]
RewriteRule ^grupos(.*)$ index.php?pagina=grupos [L]
RewriteRule ^ministerios(.*)$ index.php?pagina=ministerios [L]
RewriteRule ^doacoes(.*)$ index.php?pagina=doacoes [L]
RewriteRule ^vendas(.*)$ index.php?pagina=vendas [L]
RewriteRule ^movimentacoes(.*)$ index.php?pagina=movimentacoes [L]
RewriteRule ^turmas(.*)$ index.php?pagina=turmas [L]
RewriteRule ^informativos(.*)$ index.php?pagina=informativos [L]
RewriteRule ^fechamentos(.*)$ index.php?pagina=fechamentos [L]
RewriteRule ^site(.*)$ index.php?pagina=site [L]
